*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.logo{
    flex: 20%;
    text-align: left;
    margin-left: 5%;
}

body{
    background: white;
}

.pesquisar{
    display: flex;
    flex-flow: row wrap;
    background-color: rgb(37, 37, 37);
    color: white;
    height: 100px;
    align-items: center;
}

.menu{
    flex: 70%;
    text-align: right;
    padding: 20px;
    
}

.menu a{
    color: white;
    text-decoration: none;
    font-size: 25px;
    padding: 17px 13px;
    border-radius: 5px;
}

.menu a:hover{
    background: white;
    color: black;
    padding: 20px 16px;
}

header{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.container{
    text-align: center;
    margin-top: 15px;
}

.secao{
    margin-top: 5%;
    display: block;
    width: 100%;
    
}

.content{
    display: inline-block;
    border: 1px solid black;
    color: black;
    background: whitesmoke;
    border-radius: 5px;
    width: 300px;
    height: auto;
    text-align: center;
    padding: 20px;
    margin: 10px;
}

a{
    text-decoration: none;
}

.content a, p{
    color: black;
}

.content input{
    width: 120px;
    background: lightblue;
    color: black;
    border-radius: 5px;
}

.botao{
    text-decoration: none;
    font-size: 25px;
    padding: 17px 13px;
    background: #E01E1E;
    text-align: center;
    display: none;
}

label{
    display: block;
}

.botao a{
    color: white;
    text-decoration: none;
}

footer{
    background-image: linear-gradient(white, rgb(37, 37, 37));
    margin-top: 200px;
    height: 300px;
    text-align: center;
}